<!DOCTYPE html>
<html>
  <% include ./ejs/head %>

<body>
  <main>
    <div class="cover">

      <% include ./ejs/header %>

      <div class="textoReserva">

          <p> Tu reserva fue realizada con exito! </p>
          <p> Te enviamos un mail con los pasos a seguir </p>
          <p> Gracias por elegirnos!!</p>
          <button class="btnReserva"><a href="/">Volver al Sitio</a></button>

      </div>
    </div>