<!DOCTYPE html>
<html>
<% include ./ejs/restrictedhead %>

  <body class="restricted">
    <section class="crear-propiedad">
      <div class="propiedad">

        <h1>Crear Propiedad</h1>
        <form id="propiedadForm">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" required><br><br>

          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" required></textarea><br><br>

          <label for="descripcioncorta">Descripción Corta:</label>
          <textarea id="descripcioncorta" required></textarea><br><br>

          <label for="direccion">Direccion:</label>
          <textarea id="direccion" required></textarea><br><br>

          <label for="precio">Precio:</label>
          <input type="number" id="precio" required><br><br>

          <label for="mapa">Mapa:</label>
          <input type="text" id="mapa" required><br><br>

          <label for="esDestacado">Es destacado:</label>
          <input type="checkbox" id="esDestacado"><br><br>

          <label for="tipo">Tipo:</label>
          <select id="tipo" required>
            <option value="">Seleccione un tipo</option>
            <option value="Casas">Casas</option>
            <option value="Departamentos">Departamentos</option>
            <option value="Fideicomisos">Fideicomisos</option>
            <option value="Proyectos">Proyectos</option>
            <option value="Locales">Locales</option>
          </select><br><br>

          <label for="condicion">Condición:</label>
          <select id="condicion" required>
            <option value="">Seleccione una condición</option>
            <option value="Venta">Venta</option>
            <option value="Alquiler">Alquiler</option>
          </select><br><br>

          <button type="submit">Crear</button>
        </form>

      </div>
      <div class="foto">


        <h1>Subir Fotos</h1>
        <form id="fotosForm" enctype="multipart/form-data">
          <label for="propiedadId">Propiedad:</label>
          <select id="propiedadId" tables/ name="propiedadId">
            <!-- Opciones de propiedades -->
          </select>
          <br>

          <label for="fotos">Fotos:</label>
          <input class="file-input" type="file" id="fotos" name="fotos" accept="image/*" multiple>
          <br>

          <input class="formButton" type="submit" value="Enviar">
        </form>
      </div>
    </section>


    <section class="crear-propiedad">
      <div class="propiedad">

        <h1>Crear Propiedad Temporal</h1>
        <form id="propiedadForm">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" required><br><br>

          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion" required></textarea><br><br>

          <label for="descripcioncorta">Descripción Corta:</label>
          <textarea id="descripcioncorta" required></textarea><br><br>

          <label for="direccion">Direccion:</label>
          <textarea id="direccion" required></textarea><br><br>

          <label for="precio">Precio:</label>
          <input type="number" id="precio" required><br><br>

          <label for="mapa">Mapa:</label>
          <input type="text" id="mapa" required><br><br>

          <label for="esDestacado">Es destacado:</label>
          <input type="checkbox" id="esDestacado"><br><br>

          <label for="tipo">Tipo:</label>
          <select id="tipo" required>
            <option value="">Seleccione un tipo</option>
            <option value="Casas">Casas</option>
            <option value="Departamentos">Departamentos</option>
            <option value="Fideicomisos">Fideicomisos</option>
            <option value="Proyectos">Proyectos</option>
            <option value="Locales">Locales</option>
          </select><br><br>

          <label for="condicion">Condición:</label>
          <select id="condicion" required>
            <option value="">Seleccione una condición</option>
            <option value="Venta">Venta</option>
            <option value="Alquiler">Alquiler</option>
          </select><br><br>

          <button type="submit">Crear</button>
        </form>

      </div>
      <div class="foto">
        <label for="fecha">Selecciona fechas múltiples:</label>
    <input type="date" id="fecha" name="fecha" multiple>
    <button onclick="enviarFechas()">Enviar Fechas</button>
    
  


        <h1>Subir Fotos</h1>
        <form id="fotosForm" enctype="multipart/form-data">
          <label for="propiedadId">Propiedad:</label>
          <select id="propiedadId" tables/ name="propiedadId">
            <!-- Opciones de propiedades -->
          </select>
          <br>

          <label for="fotos">Fotos:</label>
          <input class="file-input" type="file" id="fotos" name="fotos" accept="image/*" multiple>
          <br>

          <input class="formButton" type="submit" value="Enviar">
        </form>
      </div>
    </section>

    <h1>Lista de Propiedades</h1>

    <div id="propiedades-container"></div>


    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100">
            <table>
              <thead>
                <tr class="table100-head">
                  <th class="column1">Nombre</th>
                  <th class="column2">Descripcion</th>
                  <th class="column3">Precio</th>
                  <th class="column4">Tipo</th>
                  <th class="column5">Condicion</th>
                  <th class="column6">Eliminar</th>
                </tr>
              </thead>
              <tbody class="tbodyElement">

              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>


    <script>
          function enviarFechas() {
            var fechaInput = document.getElementById("fecha");
            var fechasSeleccionadas = [];

            // Obtener las fechas seleccionadas
            for (var i = 0; i < fechaInput.selectedOptions.length; i++) {
                fechasSeleccionadas.push(fechaInput.selectedOptions[i].value);
            }

            // Aquí puedes enviar las fechasSeleccionadas a tu base de datos
            // Puedes usar una solicitud AJAX o cualquier otro método de tu elección

            // Ejemplo de cómo mostrar las fechas seleccionadas
            alert("Fechas seleccionadas: " + fechasSeleccionadas.join(", "));
        }
  </script>
    <script src="./javascripts/restricted.js"></script>
    <script src="./javascripts/tables/jquery-3.2.1.min.js"></script>

    <script src="./javascripts/tables/popper.js"></script>
    <script src="./javascripts/tables/bootstrap.min.js"></script>

    <script src="./javascripts/tables/select2.min.js"></script>

    <script src="./javascripts/tables/main.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-23581568-13');
    </script>
    <!-- <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7cba62a9ff6ca78f","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.4.0","si":100}' crossorigin="anonymous"></script> -->

  </body>

</html>