<footer>

    <div class="footer-text" id="contacto">
      <h2 class="footer-text-inner">Encontremos juntos el lugar que te mereces!</h2>
      <button class="footer-button" onclick="redirectToSection()" >Contactanos</button>
      
      <div class="footer-contact" >
        <div class="telefonos " style="margin-top: 20px; padding: 10px">
          <h3 >Telefonos</h3>
          <p class="phone"> Ventas-Alquileres-tasaciones : 291-4631091/4682752    </p>
          <p class="phone"> Administración alquileres: 291-4747038    </p>

        </div>
        <div class="direccion" style="margin-top: 20px;padding: 10px">
          <h3> Direccion</h2>
          <p>Dirección: Estomba 718 entrepiso/oficina</p>
        </div>

        <div class="email" style="margin-top: 20px;padding: 10px">
          <h3> Email</h2>
          <p style="font-size: 0.8rem">soniagameropropiedades@gmail.com</p>
        </div>
      
      </div>
      
    </div>
    <div class="footer-social">
      <a href="https://www.facebook.com/SoniaGameroPropiedades/?locale=es_LA"><span class="social"><img class="facebook social-svg " src="/images/facebook.svg" alt=""></span></a>
      <a href="https://www.instagram.com/soniagameropropiedades/?hl=en"><span class="social"><img class="intagram social-svg" src="/images/instagram.svg" alt=""></span></a> 
      
    </div>
  </footer>