<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Sonia Gamero Propiedades
    </title>
  
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- link a google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- link a los iconos de google -->
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/bootstrap.min.css">
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/font-awesome.min.css">
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/animate.css">
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/select2.min.css">
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/perfect-scrollbar.css">
      
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/util.css">
      <link rel="stylesheet" type="text/css" href="/stylesheets/tables/main.css">
  </head>
  


